.product-image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.product-image img:hover {
  transform: scale(1.05);
}
